.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.state-class{
  width: 100%;
  height: 30px;
  border-radius: 3px;
}

.list-states{
  list-style-type: none;
  text-align: left;
  padding-left: 0px;
}

.list-states li{
  margin: 0 0 10px 0;
}


